.cauldron {
    display: flex;
    background-color: rgb(69, 113, 163);
    position: relative;
}
.cauldron__bag-ingredients {
    flex: 5;
    display: grid;
    background-color: rgb(27, 73, 110);
    overflow-y: hidden;
}
.cauldron__sideBoard {
    flex: 2;
    display:none;
    background-color: rgb(19, 30, 40);
    overflow-y: hidden;
}
.ingredient {
    text-align: center;
    align-content: center;
    cursor: pointer;
    background-size: 100% 100%;
}
.cauldron__reset, .cauldron__board-history, .cauldron__draw-menu {
    flex-shrink: 0;
}
.cauldron__reset {
    position: absolute;
    bottom: -5px;
    right: 5px;
    cursor: pointer;
    color: white;
    font-size: xx-large;
}
.cauldron__board-history {
    flex: 1;
    display: flex;
    background-color: rgb(53, 81, 104);
    overflow-x: scroll;
    overflow-y: hidden;
}
.cauldron__board-history > div:last-child {
    -webkit-filter: drop-shadow(var(--hw) var(--hw) 0 var(--highlight-color)) 
                    drop-shadow(var(--hwn) var(--hw) 0 var(--highlight-color))
                    drop-shadow(var(--hw) var(--hwn) 0 var(--highlight-color)) 
                    drop-shadow(var(--hwn) var(--hwn) 0 var(--highlight-color));
    filter: drop-shadow(var(--hw) var(--hw) 0 var(--highlight-color)) 
            drop-shadow(var(--hwn) var(--hw) 0 var(--highlight-color)) 
            drop-shadow(var(--hw) var(--hwn) 0 var(--highlight-color)) 
            drop-shadow(var(--hwn) var(--hwn) 0 var(--highlight-color));
}
.cauldron__draw-menu {
    flex: 1;
    background-color: rgb(18, 64, 102);
    display: flex;
}
.cauldron__draw-menu__result {
    /* width: 100px; */
    flex: 1;
    display: flex;
    cursor: pointer;
    place-content: center;
    place-items: center;
    background-color: #527768;
}

.cauldron__draw-menu__buttons {
    flex: 3;
    display: flex;
}
.cauldron__draw-menu__buttons * {
    /* width: 100%; */
    /* height: 100%; */
    display: flex;
    place-content: center;
    place-items: center;
}
.cauldron__draw-menu__buttons__multiple {
    flex: 1;
    display: flex;
    background-color: rgb(128, 33, 33) 
}
.cauldron__draw-menu__buttons__single {
    flex: 2;
    background-color: rgb(47, 132, 47);
}