.cauldron {
    display: flex;
    background-color: #000000;
    position: relative;
    justify-content: space-between;
}

.cauldron__top {
    /* flex: 5; */
    height: 70%;
    position: relative;
}

.cauldron__bottom {
    height: 30%;
    position: relative;
    /* justify-content: flex-end; */
}
.cauldron__content__wrapper {
    display: flex;
    flex-direction: column;
}
.cauldron__bagIngredients__wrapper {
    height: 100%;
    /* flex: 4; */
    background-color: #192635;
}
.cauldron__sideboard__wrapper {
    height: 30%;
    /* flex: 1.5; */
    background-color: #0d151b;
    /* min-height: 100px; */
}
.cauldron__boardHistory__wrapper {
    /* flex: 1; */
    /* height: 100px; */
    /* max-height: 135px; */
    /* height: 100px; */
    height: 75%;
    background-color: #1c3f34;
}
.cauldron__draw-menu {
    /* flex: 0.5; */
    /* height: 45px; */
    height: 25%;
    background-color: #124066;
    display: flex;
    gap: 10px;
    padding: 10px;
}


.cauldron__content__wrapper__header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cauldron__content__wrapper__header__title {
    padding-block: 5px;
    padding-inline: 80px;
    margin-top: 5px;
}
.cauldron__bagIngredients__wrapper__header__title {
    background-color: #28405c;
}
.cauldron__sideboard__wrapper__header__title {
    background-color: #131e28;
}
/* .cauldron__boardHistory__wrapper__header__title {
    background-color: #2b6050;
} */
.cauldron__bagIngredients {
    /* flex: auto; */
    flex: 1;
    display: grid;
    background-color: #28405c;
    overflow-y: hidden;
}




.cauldron__sideboard {
    flex: auto;
    display: grid;
    background-color: #131e28;
    overflow-y: hidden;
}
.ingredient {
    text-align: center;
    align-content: center;
    cursor: pointer;
    background-size: 100% 100%;
}

.cauldron__reset {
    position: absolute;
    bottom: -5px;
    right: 5px;
    cursor: pointer;
    color: white;
    font-size: xx-large;
}

.cauldron__boardHistory, 
.cauldron__bagIngredients,
.cauldron__sideboard {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.cauldron__boardHistory {
    flex: auto;
    display: flex;
    align-items: center;
    /* background-color: #355168; */
    background-color: #275647;
    height: 65px;


    overflow-x: scroll;
    overflow-y: hidden;
    /* filter: drop-shadow(2px 2px 2px var(--outline-color)); */
    /* box-shadow: inset 0px 0px 5px var(--outline-color); */
}


.cauldron__boardHistory-- > div:last-child {
    -webkit-filter: drop-shadow(var(--hw) var(--hw) 0 var(--highlight-color)) 
                    drop-shadow(var(--hwn) var(--hw) 0 var(--highlight-color))
                    drop-shadow(var(--hw) var(--hwn) 0 var(--highlight-color)) 
                    drop-shadow(var(--hwn) var(--hwn) 0 var(--highlight-color));
    filter: 
        /* drop-shadow(var(--hwb) var(--hwb) 0 var(--outline-color)) 
        drop-shadow(var(--hwbn) var(--hwb) 0 var(--outline-color)) 
        drop-shadow(var(--hwb) var(--hwbn) 0 var(--outline-color)) 
        drop-shadow(var(--hwbn) var(--hwbn) 0 var(--outline-color)) */
        drop-shadow(var(--hw) var(--hw) 0 var(--highlight-color)) 
        drop-shadow(var(--hwn) var(--hw) 0 var(--highlight-color)) 
        drop-shadow(var(--hw) var(--hwn) 0 var(--highlight-color)) 
        drop-shadow(var(--hwn) var(--hwn) 0 var(--highlight-color))
        drop-shadow(1px 1px 0 var(--outline-color)) 
        drop-shadow(-1px -1px 0 var(--outline-color)) 
        drop-shadow(1px -1px 0 var(--outline-color)) 
        drop-shadow(-1px 1px 0 var(--outline-color));         
}
.cauldron__boardHistory > div:last-child {
    filter: 
        drop-shadow(var(--hw) var(--hw) 0 var(--highlight-color)) 
        drop-shadow(var(--hwn) var(--hw) 0 var(--highlight-color)) 
        drop-shadow(var(--hw) var(--hwn) 0 var(--highlight-color)) 
        drop-shadow(var(--hwn) var(--hwn) 0 var(--highlight-color))
        drop-shadow(2px 2px 2px var(--outline-color));
}

.cauldron__draw-menu__reset {
    /* width: 100px; */
    flex: 1;
    display: flex;
    cursor: pointer;
    place-content: center;
    place-items: center;
    background-color: rgb(17, 141, 223);
}

.cauldron__draw-menu__buttons {
    flex: 3;
    display: flex;
    gap: 10px;
}
.cauldron__draw-menu__buttons * {
    /* width: 100%; */
    /* height: 100%; */
    display: flex;
    place-content: center;
    place-items: center;
    cursor: pointer;
}
.cauldron__draw-menu__buttons__multiple {
    flex: 1;
    background-color: rgb(17, 141, 223);
}
.cauldron__draw-menu__buttons__single {
    flex: 2;
    background-color: rgb(17, 141, 223);
}

.cauldron__relocate-overlay,
.cauldron__reset-overlay,
.cauldron__multipleOverlay {
    display: none;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}
.cauldron__relocate-overlay__dialog,
.cauldron__reset-overlay__dialog,
.cauldron__multipleOverlay__dialog {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 10px;
    /* padding-top: 37px; */
    /* justify-content: center; */
    position: relative
}
.cauldron__relocate-overlay__dialog {
    background-color: rgb(20, 28, 53);
}
.cauldron__reset-overlay__dialog {
    background-color: rgb(40, 28, 53);
}
.cauldron__multipleOverlay__dialog {
    background-color: rgb(53, 28, 40);
}

.cauldron__relocate-overlay__dialog__header,
.cauldron__reset-overlay__dialog__header,
.cauldron__multipleOverlay__dialog__header {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}
.cauldron__relocate-overlay__dialog__header {
    justify-content: space-between;
}
.cauldron__reset-overlay__dialog__header,
.cauldron__multipleOverlay__dialog__header {
    justify-content: center;
}
.cauldron__relocate-overlay__dialog__header__close {
    position: relative;
    top: -10px;
    font-size:xx-large;
    cursor: pointer;
}
.cauldron__relocate-overlay__dialog__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}
.cauldron__relocate-overlay__dialog__menu__item {
    flex: 1;
    display: flex;
    justify-content: center;
    background-color: blueviolet;
    font-size: 25px;
    padding: 10px;
    cursor: pointer;
}
.cauldron__reset-overlay__dialog__menu {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
} 
.cauldron__reset-overlay__dialog__menu * {
    flex: 1;
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding: 10px;
    cursor: pointer;
}
.cauldron__reset-overlay__dialog__menu__item__ok {
    background-color: rgb(38, 196, 93);
}
.cauldron__reset-overlay__dialog__menu__item__cancel {
    background-color: rgb(226, 43, 70);
}

.cauldron__multipleOverlay__dialog__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.cauldron__multipleOverlay__dialog__content__result {
    display: grid;
    aspect-ratio: 5 / 1;
    background-color: rgb(37, 20, 28);
}
.cauldron__multipleOverlay__dialog__menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cauldron__multipleOverlay__dialog__menu__top {
    display: flex;
}
.cauldron__multipleOverlay__dialog__menu__numberWrapper {
    flex: 1;
}

input:focus {outline:none;}
.cauldron__multipleOverlay__dialog__menu__number {
    margin: 0;
    font-family:'Berlin Sans FB Demi Bold';
    font-size: 25px;
    text-align: center;
    padding: 0;
    border: 0;
}
.cauldron__multipleOverlay__dialog__menu__sliderWrapper {
    flex: 5;
}
.cauldron__multipleOverlay__dialog__menu__slider {
    width: 100%;
    margin: 0;
}
.cauldron__multipleOverlay__dialog__menu__buttons {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}
.cauldron__multipleOverlay__dialog__menu__buttons * {
    flex: 1;
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding: 10px;
    cursor: pointer;
}
.cauldron__multipleOverlay__dialog__menu__buttons__cancel {
    
    background-color: #e22b46;
}
.cauldron__multipleOverlay__dialog__menu__buttons__ok {
    background-color: #118ddf;
}