.shop {
    background-color: rgb(192, 173, 53);
    overflow: hidden;
    position: relative;
}
.shop__inventory-ingredients {
    flex: 1;
    display: grid;
    background-color: rgb(100, 94, 46);
    overflow: hidden;
}
.shop__front {
    /* flex: 2; */
    /* aspect-ratio: 1 / 1; */
    display: flex;
    background-color: #2d2c2a;
    position: relative;
    overflow: hidden;
}
.shop__front__buy-buttons__wrapper {
    display: flex;
    /* position: relative; */
    width: 100%;
    padding: 10px;

}
.shop__front__buy-buttons {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 10px;
    /* padding: 10px; */
}
.shop__front__buy-buttons__button {
    aspect-ratio: 1.5 / 1;
    text-align: center;
    align-content: center;
    cursor: pointer;
}
.shop__front__value-overlay {
    display: none;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}
.shop__front__value-overlay__dialog {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 10px;
    background-color: #2c291f;
}
.shop__front__value-overlay__dialog__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}
.shop__front__value-overlay__dialog__header__close {
    position: relative;
    top: -10px;
    font-size:xx-large;
    cursor: pointer;
}
.shop__front__value-overlay__buttons {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}
.shop__front__value-overlay__buttons__button {
    /* flex: 1; */
    display: flex;
    width: 84px;
    height: 70px;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    cursor: pointer;
    font-size: xx-large;
}


.shop__sellOverlay {
    display: none;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}
.shop__sellOverlay__dialog {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 10px;
    /* padding-top: 37px; */
    /* justify-content: center; */
    position: relative
}
.shop__sellOverlay__dialog {
    background-color: #35241c;
}

.shop__sellOverlay__dialog__header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.shop__sellOverlay__dialog__menu {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
} 
.shop__sellOverlay__dialog__menu * {
    flex: 1;
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding: 10px;
    cursor: pointer;
}
.shop__sellOverlay__dialog__menu__item__ok {
    background-color: rgb(38, 196, 93);
}
.shop__sellOverlay__dialog__menu__item__cancel {
    background-color: rgb(226, 43, 70);
}