:root {
    --0-ingredient: rgb(209, 222, 222);
    --1-ingredient: #7aa82c;
    --2-ingredient: hsl(204, 46%, 55%);
    --3-ingredient: #ce523c;
    --4-ingredient: #e4bf16;
    --5-ingredient: #e58026;
    --6-ingredient: hsl(240, 10%, 55%);
    --7-ingredient: hsl(308, 32%, 55%);
    --8-ingredient: #527768;
    --mobile-nav-height: 15vh;
    --highlight-color: yellow;
    --hw: 2px;
    --hwn: -2px;
}
.white {background-color: var(--0-ingredient);}
.green {background-color: var(--1-ingredient);}
.blue {background-color: var(--2-ingredient);}
.red {background-color: var(--3-ingredient);}
.yellow {background-color: var(--4-ingredient);}
.orange {background-color: var(--5-ingredient);}
.black {background-color: var(--6-ingredient);}
.purple {background-color: var(--7-ingredient);}
.olive {background-color: var(--8-ingredient);}


/* div { */
    /* outline: 1px solid red */
    /* box-shadow:0 0 0 1px red; */
/* } */
.wrapper, html, body {
    height: 100%;
    margin: 0;
    user-select: none;;
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    overflow: hidden;
}



.content {
    /* flex: auto;
     */
    height: 85%;
    background-color: rgb(81, 57, 36);
    display: flex;
    flex-direction: column;
}



.cauldron, .shop{
    flex: auto;
    margin: 5px;
    padding: 10px;
    flex-direction: column;
}




.mobile-nav {
    background-color: darkslategrey;
    /* position: fixed; */
    /* bottom: 0; */
    /* width: 100%; */
    height: 15%;
    display: flex;
    flex-shrink: 0;
    justify-content: space-around;
}
.nav-block {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}



.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.popup .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    /* color: #333; */
}





.colorButton {
    text-align: center;
    align-content: center;
    height: 5em;
    width: 5em;
    cursor: pointer;
}