@font-face {
    font-family: 'Berlin Sans FB Demi Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Berlin Sans FB Demi Bold'), url('BRLNSDB.woff') format('woff');
}


:root {
    --0-ingredient: rgb(209, 222, 222);
    --1-ingredient: #7aa82c;
    --2-ingredient: hsl(204, 46%, 55%);
    --3-ingredient: #ce523c;
    --4-ingredient: #e4bf16;
    --5-ingredient: #e58026;
    --6-ingredient: hsl(240, 10%, 55%);
    --7-ingredient: hsl(308, 32%, 55%);
    --8-ingredient: #527768;
    --mobile-nav-height: 15vh;
    --highlight-color: yellow;
    --hw: 2px;
    --hwn: -2px;
}
.white {background-color: var(--0-ingredient);}
.green {background-color: var(--1-ingredient);}
.blue {background-color: var(--2-ingredient);}
.red {background-color: var(--3-ingredient);}
.yellow {background-color: var(--4-ingredient);}
.orange {background-color: var(--5-ingredient);}
.black {background-color: var(--6-ingredient);}
.purple {background-color: var(--7-ingredient);}
.olive {background-color: var(--8-ingredient);}



.wrapper, html, body {
    height: 100%;
    margin: 0;
    user-select: none;
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    overflow-y: hidden;
    font-family:'Berlin Sans FB Demi Bold';
    -webkit-text-stroke: 2px black;
    color: white;
    font-size: 30px;
}



.content {
    flex: 9;
    background-color: rgb(81, 57, 36);
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}



.cauldron, .shop, .settings{
    flex: auto;
    margin: 5px;
    padding: 10px;
    display: none;
    flex-direction: column;
    overflow-y: hidden;
}


.nav {
    flex: 1.5;
    display: flex;
    flex-direction: column;
}
.nav__divider {
    flex: 1;
    background-color: #3b6363;
}
.nav__menu {
    background-color: #2f4f4f;
    flex: 2;
    display: flex;
    flex-shrink: 0;
    justify-content: space-around;
}
.--active {
    background-color: #3b6363;
}
.nav-block, .nav-block__settings {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.nav-block {
    flex: 1.5;
}
.nav-block__settings {
    flex: 1;
}


.colorButton {
    text-align: center;
    align-content: center;
    height: 5em;
    width: 5em;
    cursor: pointer;
}