:root {
    --0-ingredient: rgb(209, 222, 222);
    --1-ingredient: #7aa82c;
    --2-ingredient: hsl(204, 46%, 55%);
    --3-ingredient: #ce523c;
    --4-ingredient: #e4bf16;
    --5-ingredient: #e58026;
    --6-ingredient: hsl(240, 10%, 55%);
    --7-ingredient: hsl(308, 32%, 55%);
}
.white {background-color: var(--0-ingredient);}
.green {background-color: var(--1-ingredient);}
.blue {background-color: var(--2-ingredient);}
.red {background-color: var(--3-ingredient);}
.yellow {background-color: var(--4-ingredient);}
.orange {background-color: var(--5-ingredient);}
.black {background-color: var(--6-ingredient);}
.purple {background-color: var(--7-ingredient);}

/* div { */
    /* outline: 1px solid red */
    /* box-shadow:0 0 0 1px red; */
/* } */
.mobile-nav {
    background-color: darkslategrey;
    position: fixed;
    bottom: 0;
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.nav-block {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.bar {
    display: flex;
    justify-content: space-between;
    background-color: slategray;
}
.logo {
    height: 100px;
    width: auto;
}
.navigator {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    color: white;
    /* vertical-align: central; */
    /* background-color: slategray; */
    /* gap:10px */
}
.navigator a {
    /* text-decoration: none; */
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 1em;
    cursor: pointer;
    background-color: darkslategray;
    /* vertical-align: central; */
    /* height: 100%; */
}
.ingredientList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}
.ingredient {
    text-align: center;
    align-content: center;
    height: 3em;
    aspect-ratio: 1;
    cursor: pointer;
    /* margin: 0.05em; */
}
.ingredient img {
    /* background: url('images/tokens/128x128/_border.png');  */
    height: 100%;
    width: auto;
}
/* .inventoryItem {
    cursor: pointer;
} */
.colorButtonList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}
.colorButton {
    text-align: center;
    align-content: center;
    height: 5em;
    width: 5em;
    cursor: pointer;
}