:root {
    --0-ingredient: rgb(209, 222, 222);
    --1-ingredient: #7aa82c;
    --2-ingredient: hsl(204, 46%, 55%);
    --3-ingredient: #ce523c;
    --4-ingredient: #e4bf16;
    --5-ingredient: #e58026;
    --6-ingredient: hsl(240, 10%, 55%);
    --7-ingredient: hsl(308, 32%, 55%);
    --8-ingredient: #527768;
    --mobile-nav-height: 100px;
    --highlight-color: yellow;
    --hw: 2px;
    --hwn: -2px;
}
.white {background-color: var(--0-ingredient);}
.green {background-color: var(--1-ingredient);}
.blue {background-color: var(--2-ingredient);}
.red {background-color: var(--3-ingredient);}
.yellow {background-color: var(--4-ingredient);}
.orange {background-color: var(--5-ingredient);}
.black {background-color: var(--6-ingredient);}
.purple {background-color: var(--7-ingredient);}
.olive {background-color: var(--8-ingredient);}


/* div { */
    /* outline: 1px solid red */
    /* box-shadow:0 0 0 1px red; */
/* } */
.wrapper, html, body {
    height: 100%;
    margin: 0;
    user-select: none;;
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
}



.content {
    flex: auto;
    background-color: rgb(81, 57, 36);
    display: flex;
    flex-direction: column;
}



.cauldron {
    flex: auto;
    margin: 5px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    background-color: rgb(69, 113, 163);
}
.cauldron__bag-ingredients {
    flex: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    background-color: rgb(27, 73, 110);
}
.cauldron__reset {
    position: absolute;
    top: -5px;
    right: 5px;
    cursor: pointer;
    color: white;
    font-size: xx-large;
}
.cauldron__board-history {
    display: flex;
    background-color: rgb(53, 81, 104);
    height: 80px;
    overflow-x: scroll;
    padding-right: 40%;
}
.cauldron__board-history > div:last-child {
    -webkit-filter: drop-shadow(var(--hw) var(--hw) 0 var(--highlight-color)) 
                    drop-shadow(var(--hwn) var(--hw) 0 var(--highlight-color))
                    drop-shadow(var(--hw) var(--hwn) 0 var(--highlight-color)) 
                    drop-shadow(var(--hwn) var(--hwn) 0 var(--highlight-color));
    filter: drop-shadow(var(--hw) var(--hw) 0 var(--highlight-color)) 
            drop-shadow(var(--hwn) var(--hw) 0 var(--highlight-color)) 
            drop-shadow(var(--hw) var(--hwn) 0 var(--highlight-color)) 
            drop-shadow(var(--hwn) var(--hwn) 0 var(--highlight-color));
}
.cauldron__draw-menu {
    background-color: rgb(18, 64, 102);
    height: 100px;
    display: flex;
}
.cauldron__draw-menu__result {
    width: 100px;
    background-color: #527768;
}
.cauldron__draw-menu__buttons {
    flex: auto;
    display: flex;
    justify-content: space-evenly;
}
.cauldron__draw-menu__buttons__multiple {
    /* width: 100px; */
    flex: 1;
    background-color: rgb(128, 33, 33) 
}
.cauldron__draw-menu__buttons__single {
    /* width: 100px; */
    flex: 1;
    background-color: rgb(47, 132, 47);
}


.shop {
    flex: auto;
    margin: 5px;
    padding: 10px;

    display: none;
    flex-direction: column;
    background-color: rgb(192, 173, 53);
}
.shop__inventory-ingredients {
    flex: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    background-color: rgb(100, 94, 46);
}
.shop__front {
    display: block;
    flex-wrap: wrap;
    background-color: #685c43;
    justify-content: center;
    position: relative
}
.shop__front__buy-buttons {
    display: flex;
    flex-wrap: wrap;
    background-color: #685c43;
    justify-content: center;
}
.shop__front__buy-buttons__button {
    text-align: center;
    align-content: center;
    height: 60px;
    width: 60px;
    cursor: pointer;
}
.shop__front__value-overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    /* transform: translate(-50%, -50%) */
    /* transform: translateY(50%) */

    /* transform: translateY(-100%); */
}
.shop__front__value-overlay__buttons {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.shop__front__value-overlay__buttons__button {
    text-align: center;
    align-content: center;
    height: 75px;
    width: 75px;
    cursor: pointer;
}
.shop__front__value-overlay__close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size:xx-large;
}



.mobile-nav {
    background-color: darkslategrey;
    /* position: fixed; */
    /* bottom: 0; */
    /* width: 100%; */
    height: var(--mobile-nav-height);
    display: flex;
    justify-content: space-around;
}
.nav-block {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}



.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.popup .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    /* color: #333; */
}




.ingredient {
    text-align: center;
    align-content: center;
    height: 4em;
    aspect-ratio: 1;
    cursor: pointer;
    /* margin: 0.05em; */
}
.ingredient img {
    /* background: url('images/tokens/128x128/_border.png');  */
    height: 100%;
    width: auto;
}
.colorButton {
    text-align: center;
    align-content: center;
    height: 5em;
    width: 5em;
    cursor: pointer;
}